<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Add Expense </h1>
    <form action="" method="post">
        {% csrf_token %}
        <label> Title </label>
        <input type="text" name="title">
        <label> Amount </label>
        <input type="number" name="amount">
        <label> Category </label>
        <input type="text" name="category">
        <label for=""> Date </label>
        <input type="date" name="date">
        <button type="submit"> Save Expense </button>
    </form>
    <br>
    <a href="{% url "home" %}"> Home</a>
</body>
</html>