<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
</head>
<body>
    <h1> Welcome To The Expense Tracker</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label> Title </label>
        <input type="text" name="title">
        <label> Amount </label>
        <input type="number" name="amount">
        <label> Category </label>
        <input type="text" name="category">
        <button type="submit"> Add Expense </button>
    </form>
    <h2>Expense Tracker </h2>
    <h3> Total Income :rs {{ income }} </h3>
    <h4> Total Expense :rs {{ expense }} </h4>
    <h5> Total Saving :rs {{ saving }} </h5>
    <br>
    <a href="{% url "income" %}"> View All Income </a>
    <br><br>
    <a href="{% url "expense" %}"> View All Expenses </a>
</body>
</html>